<% include partials/top %>

<div class="container mt-5 mb-3">

  <h2 class="text-center mb-3">Job Price Calculator</h2>

    <form class="form" action="/calculator" method="GET">

    <label for="hoursWorkedOrEstimatedForJob">Hours Worked or Estimated for Job</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" value="<%= hoursWorkedOrEstimatedForJob %>" name="hoursWorkedOrEstimatedForJob" placeholder="Hours Worked or Estimated for Job..." min="0" step=".25" autofocus>
    </div>

    <label for="partsAndMaterials1">Parts and Materials</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" value="<%= partsAndMaterials1 %>" name="partsAndMaterials1" placeholder="Parts and Materials..." min="0" step=".01">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" value="<%= partsAndMaterials2 %>" name="partsAndMaterials2" placeholder="Parts and Materials..." min="0" step=".01">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" value="<%= partsAndMaterials3 %>" name="partsAndMaterials3" placeholder="Parts and Materials..." min="0" step=".01">
    </div>

    <label for="salePriceToCustomer">Sale Price to Customer</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" value="<%= salePriceToCustomer %>"  name="salePriceToCustomer" placeholder="Sale Price to Customer..." disabled>
    </div>

    <button class="btn btn-lg btn-block btn-outline-primary mb-3">Get Sale Price</button>

  </form>

  <a href="/settings" class="btn btn-primary btn-lg btn-block btn-outline-secondary">Settings</a>

</div>

<% include partials/bottom %>